$gray: #dee2e6;
$blue: #1864ab;
$green: #18ab4b;

.Cart {
  margin-top: 15rem;
  margin-left: 3rem;
  margin-right: 3rem;
  height: 100vh;
  .Title {
    font-size: 2rem;
    text-align: center;
  }
  .itemtitle {
    width: 100%;
    display: inline-block;
    vertical-align: middle;
    margin-top: 5rem;
    font-size: 1.3rem;
    color: rgb(90, 90, 90);
    .box1 {
      margin-left: 5%;
      width: 10%;
      display: inline-block;
      text-align: center;
    }
    .box2 {
      margin-left: 7.5%;
      width: 10%;
      display: inline-block;
      text-align: center;
    }
    .box3 {
      margin-left: 7.5%;
      width: 10%;
      display: inline-block;
      text-align: center;
    }
    .box4 {
      margin-left: 12.5%;
      width: 10%;
      display: inline-block;
      text-align: center;
    }
    .box5 {
      margin-left: 12.5%;
      width: 10%;
      display: inline-block;
      text-align: center;
    }
  }
  .cartproduct {
    width: 100%;
    height: 25%;
    display: inline-block;
    .img {
      margin-left: 5%;
      margin-top: 1rem;
      object-fit: cover;
      width: 10%;
      height: 85%;
    }
    .div1 {
      margin-left: 7.5%;
      width: 10%;
      display: inline-block;
      text-align: center;
    }
    .div2 {
      margin-left: 9.5%;
      width: 5%;
      display: inline-block;
      text-align: center;
    }
    .btn1 {
      margin-left: 0.25%;
      width: 2.5%;
      height: 3rem;
      display: inline-block;
    }
    .btn2 {
      margin-left: 0.25%;
      width: 5.25%;
      height: 3rem;
      display: inline-block;
    }
    .deliveryFee {
      margin-left: 9.5%;
      width: 10%;
      display: inline-block;
      text-align: center;
    }
  }
  .PlusMinus {
    .Button {
      color: $green;
      font-size: 1.5rem;
      border-radius: 1rem;
      background-color: white;
      border: solid $green 0.2rem;
      cursor: pointer;
      &:hover {
        background: $green;
        color: white;
        border: none;
        outline: none;
      }
    }
  }
  .Button {
    color: white;
    font-size: 1.5rem;
    border-radius: 1rem;
    background-color: $green;
    border: none;
    cursor: pointer;
    &:hover {
      background: lighten($green, 20%);
      border: none;
      outline: none;
    }
  }
}
