.RenderingProduct {
  width: 100%;
  height: 25rem;
  border: 1.5px solid black;
  .imgBox {
    height: 55%;
    overflow: hidden;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      display: inline-block;
      cursor: pointer;
    }
  }
  .midBox {
    height: 28%;
    .nameBox {
      width: 90%;
      height: 35%;
      margin-left: 5%;
      margin-right: 5%;
      text-align: center;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      .name {
        font-size: 1.3vw;
        display: inline-block;
      }
    }
    .price {
      font-size: 1.2rem;
      text-align: center;
    }
    .btn {
      margin-top: 3%;
      margin-left: 33%;
    }
  }
  .footer {
    text-align: center;
  }
}
