$green: #18ab4b;

.RenderingProducts {
  margin-top: 12rem;
  width: 100%;
  display: flex;
  .product {
    margin-left: 2.5%;
    width: 17%;
    margin-bottom: 2%;
    display: inline-block;
  }
}
