$gray: #dee2e6;
$blue: #1864ab;
$green: #18ab4b;

.Tap {
  position: fixed;
  height: 9rem;
  top: 0;
  width: 100%;
  background-color: white;
  display: block;
  flex-direction: column;
  padding: 1rem;
  text-decoration: none;
  box-shadow: 1rem 1rem 3rem rgb(100, 100, 100);
  .Bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    .Title {
      flex: 1;
      padding: 0.1rem;
      width: 13rem;
      height: 3.7rem;
      border: none;
      margin-left: 4rem;
      cursor: pointer;
      &:hover {
        border: none;
        outline: none;
      }
    }
    .Following {
      flex: 3;
      color: darker($gray, 3%);
      font-size: 1.5rem;
      font-weight: bold;
      margin-left: 4rem;
      background-color: white;
      border: none;
      cursor: pointer;
      &:hover {
        border: none;
        outline: none;
      }
    }
    .Input {
      flex: 2;
      height: 2.2rem;
      border-radius: 0.5rem;
      margin-left: 4rem;

      border: solid $green;
      &:focus {
        outline: 2px solid lighten($green, 5%);
        border: solid white;
      }
    }
    .Icons {
      flex: 1;
      text-align: right;
      margin-right: 4rem;
      margin-left: 20rem;
      .Icon {
        margin: 0.7rem;
        &:hover {
          color: $green;
          border-color: $green;
          outline: none;
        }
      }
    }
    .Item {
      display: inline-block;
      background-color: transparent;
      margin-right: 4rem;
      margin-left: 20rem;
      font-size: 1.1rem;
      font-weight: bold;
      height: 2rem;
      border: none;
      white-space: nowrap;
      cursor: pointer;
      &:hover {
        color: $green;
        outline: none;
      }
    }
  }
  .Category {
    display: flex;
    margin-left: 3rem;
    .Item {
      display: inline-block;
      background-color: transparent;
      margin: 0.3rem;
      padding: 0.6rem;
      color: darker($gray, 3%);
      font-size: 1.1rem;
      font-weight: bold;
      height: 3rem;
      border: none;
      cursor: pointer;
      &:hover {
        color: $green;
        border: solid;
        border-top-width: 0px;
        border-left-width: 0px;
        border-right-width: 0px;
        border-color: $green;
        outline: none;
      }
    }
  }
}
