$gray: #dee2e6;
$blue: #1864ab;
$green: #18ab4b;

.Tap {
  position: fixed;
  height: 17vh;
  top: 0;
  width: 100%;
  background-color: white;
  display: block;
  flex-direction: column;
  padding: 20px;
  text-decoration: none;
  box-shadow: 10px 10px 30px rgb(100, 100, 100);
  .Bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    .Title {
      padding: 4px;
      color: $green;
      width: 200px;
      height: 60px;
      border: none;
      margin-left: 55px;
      cursor: pointer;
      &:hover {
        border: none;
        outline: none;
      }
    }
    .Following {
      flex: 3;
      color: darker($gray, 3%);
      font-size: 18px;
      font-weight: bold;
      width: 80px;
      height: 50px;
      border-radius: 100px;
      margin: 4px;
      background-color: white;
      border: none;
      margin-right: 350px;
      cursor: pointer;
      &:hover {
        border: none;
        outline: none;
      }
    }
    .Input {
      flex: 2;
      font-size: 14px;
      width: 250px;
      height: 15px;
      padding: 12px 20px;
      border-radius: 5px;
      margin: 10px 4px;
      padding: 15px;
      border: solid $green;
      &:focus {
        outline: 2px solid lighten($green, 5%);
        border: solid white;
      }
    }
    .Icons {
      flex: 1;
      text-align: right;
      margin-right: 50px;
      .Icon {
        margin: 10px;
        &:hover {
          color: $green;
          border-color: $green;
          outline: none;
        }
      }
    }
    .Item {
      display: inline-block;
      background-color: transparent;
      margin: 8px;
      padding: 2px;
      font-size: 16px;
      font-weight: bold;
      height: 40px;
      border: none;
      cursor: pointer;
      &:hover {
        color: $green;
        outline: none;
      }
    }
  }
  .Category {
    display: flex;
    margin-left: 50px;
    .Item {
      display: inline-block;
      background-color: transparent;
      margin: 8px;
      padding: 2px;
      color: darker($gray, 3%);
      font-size: 16px;
      font-weight: bold;
      height: 40px;
      border: none;
      cursor: pointer;
      &:hover {
        color: $green;
        border: solid;
        border-top-width: 0px;
        border-left-width: 0px;
        border-right-width: 0px;
        border-color: $green;
        outline: none;
      }
    }
  }
}
