$gray: #dee2e6;
$blue: #1864ab;
.SignUp {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 30px;
  .Form {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    margin: 20px;
    padding: 10px;
    .Item {
        display: flex;
        flex-direction: column;
        margin: 5px 30px;
        .Text {
            margin-left: 10px;
        }
    }
  }
  .Title {
      font-weight: bold;
      font-size: 50px;
  }
  .Logo {
      font-weight: bold;
      font-size: 30px;
  }
  .Input {
    font-size: 14px;
    width: 250px;
    height: 15px;
    padding: 12px 20px;
    border-radius: 30px;
    margin: 8px 5px;
    border: solid $blue;
    &:focus {
      outline: 4px solid lighten($blue, 5%);
      border: solid white;
    }
  }
  .Submit {
    color: white;
    font-size: 20px;
    width: 290px;
    height: 50px;
    border-radius: 100px;
    margin: 8px;
    background-color: $blue;
    border: none;
    cursor: pointer;
    &:hover {
      background: lighten($blue, 20%);
      border: none;
      outline: none;
    }
  }
}
