@font-face {
  font-family: "font";
  font-style: normal;
  font-weight: 25;
  src: url("./fonts/BMDOHYEON.woff2") format("woff2"),
    url("./fonts/BMDOHYEON.woff") format("woff"),
    url("./fonts/BMDOHYEON.otf") format("truetype");
}

@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap");

.body {
  margin-top: 17vh;
  box-sizing: border-box;
  width: 100%;
}
.categoty {
  display: flex;
  flex-flow: row wrap;
}
.header {
  display: flex;
  flex-flow: wrap;
}
