@font-face {
  font-family: "font";
  font-style: normal;
  font-weight: 25;
  src: url("./fonts/BMDOHYEON.woff2") format("woff2"),
    url("./fonts/BMDOHYEON.woff") format("woff"),
    url("./fonts/BMDOHYEON.otf") format("truetype");
}

@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap");

.body {
  margin-top: 17vh;
  box-sizing: border-box;
  width: 100%;
}
.categoty {
  display: flex;
  flex-flow: row wrap;
}
.header {
  display: flex;
  flex-flow: wrap;
}
.followingbutton {
}

.container {
  display: flex;
}
.container div:nth-child(1) {
  flex: 3;
  border: 5px solid lightskyblue;
  height: 83vh;
  overflow: auto;
}
.container div:nth-child(2) {
  flex: 1;
  border: 5px solid lightskyblue;
}
.PP {
  display: flex;
}
.PP div:nth-child(1) {
  flex: 1;
  display: inline-block;
}
.PP div:nth-child(2) {
  flex: 1;
  display: inline-block;
}
.PP div:nth-child(3) {
  flex: 1;
  display: inline-block;
}
.PP div:nth-child(4) {
  flex: 1;
  display: inline-block;
}
.PP div:nth-child(5) {
  flex: 1;
  display: inline-block;
}
