$green: #18ab4b;

.ProductDetail {
  margin-top: 12rem;
  .container {
    width: 80%;
    height: 80%;
    margin-left: 10%;
    display: flex;
    //border: 5px solid red;
    .box1 {
      width: 70%;
      height: 80vh;
      overflow-y: scroll;
      scrollbar-width: thin;
      scrollbar-color: #6969dd #e0e0e0;
      &::-webkit-scrollbar {
        width: 8px;
      }
      &::-webkit-scrollbar-thumb {
        background: $green;
        border-radius: 5px;

        &:hover {
          background-color: #adb5bd;
        }
      }
      &::-webkit-scrollbar-track {
        display: none;
      }
      .img {
        margin-left: 10%;
        margin-top: 3%;
        margin-right: 10%;
        object-fit: cover;
        width: 80%;
        height: 85%;
        display: inline-block;
      }
      hr {
        margin-top: 2rem;
        border: none;
        border-top: 3px dotted $green;
        height: 1px;
        margin-left: 5%;
        width: 90%;
      }
      .description {
        font-size: 1.3rem;
        text-align: center;
      }
    }
    .v-line {
      border-left: medium solid $green;
      height: 80vh;
      margin-left: 1.5rem;
      margin-right: 1.5rem;
    }
    .box2 {
      width: 30%;
      margin-top: 0;

      .name {
        font-size: 3rem;
        margin-left: 0.5rem;
        margin-top: 0.5rem;
      }
      hr {
        margin-top: 1.5rem;
      }
      .price {
        width: 100%;
        height: 8%;
        display: inline-block;
        .p1 {
          width: 25%;
          font-size: 2rem;
          display: inline-block;
        }
        .p2 {
          width: 75%;
          font-size: 2rem;
          text-align: right;
          display: inline-block;
        }
      }
      .point {
        width: 100%;
        height: 8%;
        display: inline-block;
        .p1 {
          width: 25%;
          font-size: 2rem;
          display: inline-block;
        }
        .p2 {
          width: 75%;
          font-size: 1.3rem;
          text-align: right;
          display: inline-block;
        }
      }
      .deliveryCharge {
        margin-top: 5rem;
        width: 100%;
        height: 5%;
        display: inline-block;
        .p1 {
          width: 80%;
          text-align: right;
          font-size: 1.3rem;
          display: inline-block;
        }
        .p2 {
          width: 20%;
          text-align: center;
          font-size: 1.3rem;
          display: inline-block;
        }
      }
      .count {
        width: 100%;
        height: 6%;
        display: inline-block;
        .p1 {
          width: 10%;
          font-size: 1.1rem;
          display: inline-block;
        }
        .p2 {
          width: 65%;
          font-size: 1.1rem;
          text-align: right;
          display: inline-block;
        }
        .PlusMinus {
          width: 25%;
          display: inline-block;
          .btn1 {
            width: 2rem;
            height: 2rem;
            display: inline-block;
          }
          .Button {
            color: $green;
            font-size: 1.1rem;
            font-weight: bold;
            margin-left: 0.3rem;
            border-radius: 1rem;
            background-color: white;
            border: solid $green 0.2rem;
            cursor: pointer;
            &:hover {
              color: white;
              background-color: $green;
              border-radius: 1rem;
              border: none;
              outline: solid $green 0.2rem;
            }
          }
        }
      }
      .order {
        margin-top: 3%;
        color: white;
        display: inline-block;
        font-size: 1.3rem;
        margin-left: 70%;
        border-radius: 1rem;
        background-color: $green;
        border: none;
        cursor: pointer;
        &:hover {
          background: lighten($green, 20%);
          border: none;
          outline: none;
        }
      }
      .hr1 {
        margin-top: 1rem;
      }
      .sellerHome {
        font-size: 1.2rem;
        cursor: pointer;
        &:hover {
          color: $green;
        }
      }
      .dm {
        margin-top: 0.3rem;
        width: 100%;
        height: 6%;
        display: inline-block;
        .d {
          margin-left: 2.5%;
          width: 45%;
          display: inline-block;
        }
        .m {
          width: 45%;
          margin-left: 5%;
          display: inline-block;
        }
      }
    }
  }
}
