$gray: #dcdcdc;
$blue: #1864ab;
$green: #18ab4b;

.SellerPage {
  margin-top: 12rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  .ProfileInfo {
    border: solid 0.1rem $green;
    padding: 1rem;
    margin-bottom: 4rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  .Following {
    color: white;
    font-size: 20px;
    width: 7rem;
    height: 2.5rem;
    border-radius: 80px;
    background-color: $green;
    border: none;
    cursor: pointer;
    &:hover {
      background: lighten($green, 20%);
      border: none;
      outline: none;
    }
  }
  .ProductsContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-left: 6rem;
  }
  .Title {
    font-weight: bold;
    font-size: 2rem;
  }
  .IsMe {
    font-weight: bold;
    font-size: 1.5rem;
  }
  .Line {
    background-color: darken($green, 10%);
    border: solid 0.1rem darken($green, 10%);
  }
}
