.RenderingFeeds {
  width: 100%;
  display: flex;
  text-align: center;
  div:nth-child(1) {
    flex: 1;
  }
  div:nth-child(2) {
    flex: 1;
    border-left: 0.1px solid rgb(179, 179, 179);
    border-right: 0.1px solid rgb(179, 179, 179);
  }
  div:nth-child(3) {
    flex: 1;
  }
  img {
    max-width: 69vh;
  }
  img:nth-child(2) {
    max-width: 69vh;
  }
  p {
    margin-top: 50px;
    margin-bottom: 50px;
  }
  .Preface {
    font-family: "font";
    text-align: left;
    font-size: larger;
    white-space: pre-wrap;
  }
}
