.RenderingFeeds {
  max-width: 100%;
  display: flex;
  text-align: center;
  div:nth-child(1) {
    width: 33.3%;
    height: 100%;
  }
  div:nth-child(2) {
    width: 33.3%;
    height: 100%;
    border-left: 0.05rem solid rgb(179, 179, 179);
    border-right: 0.05rem solid rgb(179, 179, 179);
  }
  div:nth-child(3) {
    width: 33.3%;
    height: 100%;
  }
  img {
    max-width: 33rem;
  }
  p {
    margin-top: 2rem;
    margin-bottom: 1.5rem;
    margin-left: 0.7rem;
    margin-right: 0.7rem;
  }
  .Preface {
    font-family: "font";
    text-align: left;
    font-size: larger;
    white-space: pre-wrap;
  }
}
